.AvailableMinions .minions h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50px;
}
.AvailableMinions .minions p {
  color: #666;
}

.AvailableMinions .image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.AvailableMinions .list-group {
    font-size: 40px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.AvialableMinions .minion-image {
  text-align: center;
  float: left;
  margin-top: 20px;
  width: 50%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.availableMinions .minion-text {
  width: 50%;
  text-align: left;
  float: right;
  margin-top: 20px;
  height: 100%;
  margin-bottom: 15px;
  margin-top: 20px;
}


