.AvailableMinions .minions h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50px;
}
.AvailableMinions .minions p {
  color: #666;
}

.AvailableMinions .image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.AvailableMinions .list-group {
    font-size: 40px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.AvailableMinions .minions {
  text-align: center;
}


